.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.picture-display {
  position: absolute;
  padding-bottom: 50px;
}

.picture-container {
  display: flex;
  justify-content: center;
}

.pic-display {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .pic-display {
    width: 300px;
    height: auto;
  }
}
